@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #__next {
  height: 100%;
}

body {
  /*background: linear-gradient(90deg, white 30%, #e4ebf3 30.001%);*/
  background-color: #eaeaea;
  background-image:
          radial-gradient(at top left, #fff8f7, transparent),
          radial-gradient(at top right, #e8fffd, transparent),
          radial-gradient(at bottom left, rgba(214, 232, 255, 0.3), transparent);
          /*radial-gradient(at bottom right, rgba(214, 232, 255, 0.3), transparent);*/
  background-color: rgba(214, 232, 255, 0.3);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;

  background-color: #fff;
  background-image:
          radial-gradient(at top left, #fff7fd, transparent),
          radial-gradient(at top right, #ecf6ff, transparent),
          radial-gradient(at bottom left, #cbf6e4, transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
