.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.group {
  border-radius: 10px;
  padding: 6px;
  margin: 0px 10px;
  box-shadow: #aaaaaa;
  display: inline-block;
}

.groupName {
  color: #16438a;
  font-weight: bolder;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-family: monospace;
}

.item {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  margin: 14px 0px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  background-color: white;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
  border: solid 1px #f2f2f2;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.item:hover,
.item:focus {
  background-color: #ffe7d6;
}

.item:hover,
.item:focus,
.item:active {
  color: #ff411f;
  border-color: #ffae76;
}

.item.disabled:hover {
  color: darkgrey;
  background-color: #d2d2d2;
}

.disabled .title {
  color: #aaaaaa;
}

.arrow, .save {
  position: absolute;
  height: 50px;
  width: 50px;
  top: calc(50% - 22px);
  right: -10px;
  background-repeat: no-repeat;
}

.save {
  background-image: url("/icons/menu-save.svg");
}

.arrow {
  background-image: url("/icons/menu-enter.svg");
}

.title {
  font-weight: bold;
}

.description {
  color: #777;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .group {
    width: 100%;
  }
}
